* {
    margin: 0px;
    padding-left: 2px;
}

/* utility classes */
.center {
    text-align: center;
}

.decoration {
    text-decoration: none;
    list-style: none;
}

body {
    color: white;
    background-color: #423434;
}

body a {
    color: white;
}

.container {
    /* border: 5px solid red; */
    width: 390px;
    height: 550px;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.tittle {
    /* border: 5px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 44px;
    height: 39px;
    border-radius: 10px;
}

.logo h1 {
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 2.5rem;
}

.credencial {
    /* border: 5px solid red; */
    margin: 30px 0px;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.credencial input {
    width: 100%;
    height: 35px;
    margin: 15px 0px;
    border-radius: 6px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-family: 'Ubuntu', sans-serif;
}

.credencial input:hover {
    background-color: #f1dfdf;
    /* transition: all .5s; */
}

.log_in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.log_in li {
    margin-top: 12px;
}

.log_in #btn {
    width: 120px;
    height: 37px;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 6px;
    font-size: 20px;
}

.log_in #btn:hover {
    background-color: #f1dfdf;
}

a:hover {
    color: rgb(125, 125, 221);
}